a.reset {
    color: inherit;
    
    text-decoration: none;
}

.card {
    &--custom {
        position: relative;

        padding: 20px;

        box-shadow: 0px 0px 10px rgba(#000, 0.3);
    }

    &--dark::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 5px;

        background-color: $color--dark;
    }
}

table.table {
    box-shadow: 0 0 10px rgba(#000, 0.3);
}